{% block group_pages_active %}active{% endblock %}
{% block privacy_policy_active %}active{% endblock %}
{% block content_header %}Privacy Policy{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_privacy_policy')}}">Privacy Policy</a></li>
{% endblock %}
