{% block setting_group_active %}active{% endblock %}
{% block shipping_rate_active %}active{% endblock %}
{% block content_header %}Shipping Rate{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_shipping_rate')}}">Shipping Rate</a></li>
{% endblock %}
