/data/banks/
/data/excel/
/log/
/web/uploads/
.DS_Store
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/browscapcache/
/var/browscapcache/*
!/var/browscapcache/.gitkeep
!/web/media/cache/
/web/media/cache/*
!/web/media/cache/.gitkeep
/vendor/
/web/bundles/
