{% block subscriber_active %}active{% endblock %}
{% block content_header %}Subscriber{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_subscriber')}}">Subscriber</a></li>
{% endblock %}
