{% block group_event_active %}active menu-open{% endblock %}
{% block event_category_active %}active{% endblock %}
{% block content_header %}Event Category{% endblock %}
{% block content_header_desc %}{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_event_category')}}">Event Category</a></li>
{% endblock %}
