{%block setting_group_active%}active{%endblock%}
{%block authentication_active%}active{%endblock%}
{%block content_header%}Authentication Keys{%endblock%}

{%block breadcrumb_sub%}
	<li><a href="{{path('admin_authentication')}}">Authentication Keys</a></li>
{%endblock%}
