{% block group_product_cat_active %}active menu-open{% endblock %}
{% block muscle_active %}active{% endblock %}
{% block content_header %}Sport Science Training{% endblock %}
{% block content_header_desc %}product categories{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_age_group')}}">Sport Science Training</a></li>
{% endblock %}
