{% block promotion_active %}active{% endblock %}
{% block content_header %}Promotion{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_promotion')}}">Promotion</a></li>
{% endblock %}
