{% block group_pages_active %}active{% endblock %}
{% block how_to_buy_active %}active{% endblock %}
{% block content_header %}How To Buy{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_how_to_buy')}}">How To Buy</a></li>
{% endblock %}
