{% block group_pages_active %}active{% endblock %}
{% block terms_conditions_active %}active{% endblock %}
{% block content_header %}Terms & Conditions{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_terms_conditions')}}">Terms & Conditions</a></li>
{% endblock %}
