<div class="search-box collapse" id="search-box">
    <div class="container">
        <form id="formSearchBox" action="{{path('product')}}" method="get">
            {{ form_widget(form.searchBox, { 'attr': {'placeholder': 'To Search Start Typing...'}})}}
        </form>
    </div>
</div>
