<section class="daily-training-workout-area home-plan">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-4 col-sm-3">
				<div class="img-holder">
					<img src="{{asset('images/marathon/banner/banner-600x600.jpg')}}" alt="">
				</div>
			</div>
			<div class="col-lg-5 col-md-8 col-sm-9">
				<div class="content">
					<h1>Plan your Daily training & workouts </h1>
					<p>It would be perfect to do with your family, friends, co-workers anyone who I have started gym at home.</p>
					<ul>
						<li class="clear-both"><i class="fa fa-check"></i>สร้างยิมเองได้ที่บ้านคุณ</li>
						<li class="clear-both"><i class="fa fa-check"></i>มีบริการจัดส่ง</li>
						<li class="clear-both"><i class="fa fa-check"></i>รับประกันสินค้าพร้อมบริการหลังการขาย</li>
					</ul>
					<p>
						<a href="{{path('showroom')}}" class="thm-btn borderd">Shop Now</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
