{% block layout_shop_active %}active{% endblock %}
{% block content_header %}Layout Shop{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_layout_shop')}}">Layout Shop</a></li>
{% endblock %}
