<div class="col-xs-12">
	<div class="col-md-4 margin-bottom-4">
		{{form_widget(form_search.eventCategory)}}
	</div>

	<div class="col-md-6 margin-bottom-6">
		{{form_widget(form_search.q, {'attr':{'class':'form-control', 'placeholder':'Search ...' }})}}
	</div>

	<div class="col-md-2 margin-bottom-2">

		{{form_widget(form_search.search, {'id' : 'search', 'label': 'Search'})}}

		{#
		<button type="button" class="btn btn-info" data-form_id="data_form_search" id="search_export_excel_path">
			<i class="fa fa-file-text-o"></i> Export
		</button>
		#}
	</div>
</div>

<div class="col-md-12 text-center" style="margin-top:10px;"></div>
