{% block group_event_active %}active menu-open{% endblock %}
{% block event_active %}active{% endblock %}
{% block content_header %}Event{% endblock %}
{% block content_header_desc %}{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_event')}}">Event</a></li>
{% endblock %}
