{% extends "ProjectBundle:"~ view_layout ~":layout_member.html.twig" %}

{% block title %}Change Password | {{ parent() }}{% endblock %}
{% block member_header %}Change Password{% endblock %}

{% block member_change_password_active %}active{% endblock %}

{% block breadcrumb_sub %}
  {{ parent() }}
  <li class="active">Change Password</li>
{% endblock %}

{% block content_member %}
  {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock %}
