{% block discount_active %}active{% endblock %}
{% block content_header %}Discount{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_discount')}}">Discount</a></li>
{% endblock %}
