{% block setting_group_active %}active{% endblock %}
{% block setting_active %}active{% endblock %}
{% block content_header %}Email Setting{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_setting')}}">Email Setting</a></li>
{% endblock %}
