{% block group_product_cat_active %}active menu-open{% endblock %}
{% block customer_group_active %}active{% endblock %}
{% block content_header %}Customer Group{% endblock %}
{% block content_header_desc %}product categories{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_customer_group')}}">Customer Group</a></li>
{% endblock %}
