<div class="col-xs-12">
	<div class="col-md-4 margin-bottom-4"></div>

	<div class="col-md-4 margin-bottom-4">
		<input id="q" name="search_member[q]" class="form-control" placeholder="Search ..." type="text" value="{% if app.request.get('search_member')['q'] is defined %}{{app.request.get('search_member')['q']}}{% endif %}">
	</div>
	<div class="col-md-4 margin-bottom-4">
		<button type="submit" class="btn btn-primary" data-form_id="data_form_search" id="search_data_path">
			<i class="fa fa-search"></i> Search
		</button>

		<button type="button" class="btn btn-info" data-form_id="data_form_search" id="search_export_excel_path">
			<i class="fa fa-file-text-o"></i> Export
		</button>
	</div>
</div>

<div class="col-md-12 text-center" style="margin-top:10px;">
	<br/>
</div>
