{% block group_member_active %}active menu-open{% endblock %}
{% block member_b2b_active %}active{% endblock %}
{% block content_header %}Customer{% endblock %}
{% block content_header_desc %}B2B{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_member_b2b')}}">Customer (B2B) list</a></li>
{% endblock %}
