<div class="col-xs-12">
	<div class="col-md-4 margin-bottom-4">

		<select name="search_status" class="form-control" ng-options="option.id as option.name for option in data_status" ng-model="search_status"></select>

	</div>

	<div class="col-md-4 margin-bottom-4">
		<input id="q" name="q" class="form-control" placeholder="Search ..." type="text" value="{{app.request.get('q')}}">
		{# <input id="q" name="q" class="form-control" placeholder="Search.." type="text" value="{% if app.request.get('q') is defined %}{{app.request.get('search_data')['q']}}{% endif %}"> #}
	</div>

	<div class="col-md-4 margin-bottom-4">
		<button type="submit" class="btn btn-primary" data-form_id="data_form_search" id="search_data_path">
			<i class="fa fa-search"></i> Search
		</button>

		{#
		<button type="button" class="btn btn-info" data-form_id="data_form_search" id="search_export_excel_path">
			<i class="fa fa-file-text-o"></i> Export
		</button>
		#}
	</div>
</div>

<div class="col-md-12 text-center" style="margin-top:10px;"></div>
