{% block setting_group_active %}active{% endblock %}
{% block social_network_active %}active{% endblock %}
{% block content_header %}Social Network Link{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_social_network')}}">Social Network Link</a></li>
{% endblock %}
