{% block group_product_cat_active %}active menu-open{% endblock %}
{% block template_customer_group_active %}active{% endblock %}
{% block content_header %}Usage Information Template{% endblock %}
{% block content_header_desc %}product categories{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_template_customer_group')}}">Usage Information Template</a></li>
{% endblock %}
