{% block group_product_cat_active %}active menu-open{% endblock %}
{% block product_category_active %}active{% endblock %}
{% block content_header %}Category{% endblock %}
{% block content_header_desc %}product categories{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_product_category')}}">Category</a></li>
{% endblock %}
