{% extends 'ProjectBundle::admin.html.twig'%}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% use "ProjectBundle:AdminProductCategory:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}
{% block content %}
<div class="row">
	<div class="col-md-8 margin-10-0">
		<a href="{{path('admin_product_category_new')}}" class="btn btn-instagram" title="Add"><i class="fa fa-plus"></i> Add</a>
        {#<a href="#" class="btn bg-purple" title="sort"><i class="fa fa-list-ol"></i> Sort</a>#}
	</div>
</div>
<br class="clearBoth">

<div class="row">
    <div class="col-xs-10">

        <div class="box box-solid">
            <div class="box-header with-border">
                <!-- <i class="fa fa-text-width"></i> -->
                <h3 class="box-title">Category</h3>
            </div>
            <div class="box-body tree-view">
                {{tree|raw}}
            </div>
        </div>

        {#
        <div class="box" style="">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="box-body icheck">
                <table id="dtbrole" class="table">
                    <thead>
                        <tr>
                            <th width="19"></th>
                            <th>Title</th>
                            <th class="text-center" width="50">Edit</th>
                            <th class="text-center" width="50">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in tree2 %}
                            <tr class="odd gradeX">
                                <td></td>
                                <td></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        #}
    </div>
</div>
{% endblock %}
