{% block group_product_cat_active %}active menu-open{% endblock %}
{% block brand_active %}active{% endblock %}
{% block content_header %}Brand{% endblock %}
{% block content_header_desc %}product categories{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_brand')}}">Brand</a></li>
{% endblock %}
